* {
	box-sizing: border-box;
	font-family: Verdana, Arial, Calibri, sans-serif;
}
:root {
	--background-color: #3B3631;
	--primary-color: blanchedalmond;
	--text-color: #2C231B;
}
body {
	background-color: var(--primary-color);
	margin: 0;
	color: var(--text-color);
	font-size: 18px;
}
hr {
	border-style: solid;
	color: var(--text-color);
}
b {
	font-size: 1.2em;
	font-weight: bold;
}
/* Layout */
header {
	background-color: var(--background-color);
	padding: 30px;
	line-height: 1.25;
	text-align: center;
	color: var(--primary-color);
}
main {
	background-color: var(--primary-color);
	padding: 20px;
}